Source: libguestfs
Section: libs
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@gmail.com>
Homepage: https://github.com/libguestfs/libguestfs/tags
Vcs-Browser: https://github.com/alvistack/libguestfs-libguestfs
Vcs-Git: https://github.com/alvistack/libguestfs-libguestfs.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 arping | iputils-arping,
 autoconf,
 automake,
 bash-completion,
 bison,
 bsdextrautils | bsdmainutils,
 btrfs-progs,
 clevis-luks,
 cpio,
 cryptsetup,
 curl,
 dash,
 extlinux,
 flex,
 fuse3,
 gdisk,
 gettext,
 gfs2-utils,
 gperf,
 grub2-common,
 hfsplus,
 icoutils,
 inetutils-ping | iputils-ping,
 iproute2 | iproute,
 iputils-tracepath,
 isc-dhcp-client,
 ldmtool,
 libacl1-dev,
 libaugeas-dev (>= 1.0.0),
 libcap-dev,
 libconfig-dev,
 libfuse3-dev,
 libgettext-ocaml-dev,
 libglib2.0-dev,
 libhivex-ocaml-dev,
 libjansson-dev,
 liblzma-dev,
 libmagic-dev,
 libncurses5-dev,
 libncursesw5-dev,
 libounit-ocaml-dev,
 libpcre2-dev,
 libreadline-dev,
 librpm-dev,
 libselinux1-dev,
 libsystemd-dev | libsystemd-journal-dev,
 libtool,
 libtsk-dev,
 libvirt-dev (>= 1.2.20),
 libvirt-ocaml-dev,
 libxml2-dev,
 libxml2-utils,
 libyara-dev,
 mount,
 mtools,
 netpbm,
 nilfs-tools,
 ntfs-3g,
 ocaml-findlib,
 ocaml-nox,
 openssh-client,
 pkg-config,
 po4a,
 python3-dev,
 qemu-system-x86,
 qemu-utils,
 reiserfsprogs,
 supermin (>= 5),
 systemd,
 systemd-sysv,
 uuid-runtime,
 vim-tiny,
 xorriso,
 xz-utils,
 zfs-fuse,
 zstd,
# db-util,
# default-jdk,
# dh-lua,
# dh-ocaml,
# dh-php,
# dh-python,
# fdisk | util-linux (<< 2.29.2-3~),
# gem2deb,
# gjs [!s390x !armel] <!nocheck>,
# gobject-introspection,
# golang-go [i386 amd64 armel armhf arm64 mips mipsel mips64el ppc64el],
# libc-dev-bin,
# libdbus-1-dev,
# libextutils-command-perl,
# libgirepository1.0-dev,
# libgtk-3-dev,
# libintl-perl,
# libjs-jquery,
# libmodule-build-perl,
# libstring-shellquote-perl,
# libsys-virt-perl,
# libtest-pod-coverage-perl,
# libtest-pod-perl,
# libwin-hivex-perl,
# libyajl-dev,
# php-all-dev | php5-dev,
# rake,
# sqlite3,
# systemtap-sdt-dev,

Package: libguestfs-dev
Section: libdevel
Architecture: amd64
Description: guest disk image management system - development headers
 This package contains the development headers.
Depends:
 ${misc:Depends},
 libguestfs0 (= ${source:Version}),
Conflicts:
 libguestfs0 (<< 1:1.14.9-1~),
